
<h1>Welcome to AskKaro</h1>
<h2>Hi! <%= @question.user.name%></h2>
<p>
A new answer was posted for your <%= @question.title %> :
</p>

<blockquote >
  <em><%= @question.content %></em>
</blockquote>

<p>
  To see this answer , please visit the question page :
          <%= link_to "ques page", @question %>
</p>

<h4>Thanks!</h4>
