

aside.card.ques {
  font-family: 'Roboto', sans-serif;
display: block;
width: auto;
height:auto;
margin: 40px auto 40px;
background-color: #ffffff;
border-radius: 2px;
}
aside.card.ques header {
padding: 16px;
}
aside.card.ques header figure {
width: 40px;
height: 40px;
background-color: #dddddd;
background-image: url(http://www.msudenver.edu/media/sampleassets/profile-placeholder.png);
background-size: cover;
margin: 0 16px 0 0;
padding: 0;
border-radius: 50%;
float: left;
}
aside.card.ques header div.text h1 {
font-size: 24px;
font-weight: normal;
line-height: 1;
padding: 0;
margin: 8px;
}
aside.card.ques header div.text h2 {
color: #757575;
font-size: 14px;
font-weight: normal;
line-height: 1;
padding: 0;
margin: 12px 0 0;
}
aside.card.ques header div.text.small h1 {
margin-top: 0px;
font-size: 14px;
}
aside.card.ques div.supporting_text {
padding: 16px;
}
aside.card.ques div.supporting_text p {
font-size: 14px;
line-height: 2;
margin: 0;
padding: 0 0 8px;
}
aside.card.ques figure.rich_media#image_1 {
background-image: url(http://www.wallpapereast.com/static/cache/2d/00/2d003f11fbcbe8095e854cf87530e5ae.jpg);
}
aside.card.ques div.row{
padding: 8px;
height: auto;
}
/*aside.card.ques div.card-action {
padding: 8px;
height: 36px;
}*/
aside.card.ques div.card-action div.right {
float: right;
}
aside.card.ques div.card-action button {
color: #757575;
height: 36px;
margin: 0;
padding: 0 8px;
background-color: #ffffff;
border: none;
font-size: 14px;
text-transform: uppercase;
border-radius: 2px;
}
aside.card.ques div.card-action button.icon {
width: 36px;
}
aside.card.ques div.card-action button + button {
margin-left: 8px;
}
aside.card.ques div.card-action button:hover {
background-color: #eeeeee;
cursor: pointer;
}
aside.card.ques div.card-action button i {
color: #757575;
font-size: 21px;
line-height: 36px;
}

[elevation='1'] {
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

[elevation='2'] {
box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

[elevation='3'] {
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

[elevation='4'] {
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

[elevation='5'] {
box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
