<style type="text/css">

#errorimage{
	
	 height: 90%;
	 width: 100%;

}
.errors{
/*min-width: 100vh;
min-height: 100vh;*/
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
color: crimson;
padding: 20px;
}
</style>

<!DOCTYPE html>
<html>
<head>
	<title>Askkaro</title>
</head>
<body>
<%= image_tag "errorpage.jpg", :id => 'errorimage' , :class => 'errorimage' %>
<!-- <div class="errors">

	<h1>Error:404  Not Found</h1><div class="error">
    <h2>Sorry, this page has moved, or doesn't exist!</h2>
</div>
</div> -->
</body>
</html>