<li>
  <div class="field">
    <%= f.label :Option %> <br >
    <%= f.text_field :text %>
    <%= f.check_box :correct %>
    <%= f.label :correct %>

    <a id="remove-attach" class="btn btn-danger" onclick="removeField(this)" href="javascript:;">Remove</a>
  </div>
</li>