 <!-- ########################################################################################################## 

                                          MODAL FOR SHOWING NOTE
                                          
 ########################################################################################################### -->

 <%if Note.where(:user_id => current_user.id).length>0%>

        <p>  <%= Note.where(:user_id => current_user.id).last.content %></p><%end%>
        <br>
        <hr><%if Note.where(:user_id => current_user.id).length>=2%>
        <br>
        <p><%= Note.where(:user_id => current_user.id)[-2].content %><%end%>
        </p>
