 <!-- ########################################################################################################## 

                                         PARTIAL FOR QUESTION CARD ON RIGHT
                                          
 ########################################################################################################### --> 
<style type="text/css">
	
	.card.quesrelate{
		width:270px;
		padding-bottom: 10px;
	}
	.card.quesrelate hr{
		color: #dddfe7;

	}
	div.card.quesrelate div.card-content{
		max-height: 210px;
		overflow-y: auto;
	}
</style>

<% if @questagfeed != nil && @questagfeed.length >0 %>

<div class="card quesrelate"> 
	<div class="card-title center" style="color:#696a6e;font-size: 28px;font-weight: 800;font-family: Fresca,sans-serif;"> 
		Related Questions
	</div>
	<div class="card-content">
		<% @questagfeed.each do |ques| %>
		<%= link_to ques.title, ques %>
		<hr>
		<% end %>
	</div>
</div>
<% end %>



<% if @tre!= nil && @trendtagusers!= nil%>
<% if @trendtagusers.length >=0 %>
<div class="card quesrelate"> 
	<div class="card-title center" style="color:#696a6e;font-size: 28px;font-weight: 800;font-family: Fresca,sans-serif;"> 
		Trend Followers
	</div>
	<div class="card-content">
		<% @trendtagusers.each do |trenduser| %>
		
		<%= link_to trenduser.name, trenduser %>
		<hr>
		<% end %>
	</div>
</div>
<% end %>
<% end %>

